<script setup lang="ts">
import { reactive, watch, ref, nextTick } from "vue";

class Person {
  id: number;
  name: string;
  surname: string;
  gender: string;
  static lastId = 1;
  constructor(name: string, surname: string, gender: string) {
    this.id = Person.lastId++;
    this.name = name;
    this.surname = surname;
    this.gender = gender;
  }
}

const msg = reactive({
  name: "",
  surname: "",
  gender: "",
});

const person = reactive<Person>({
  id: -1,
  name: "",
  surname: "",
  gender: "",
});

const personList = ref<Person[]>([]);

const showForm = ref(false);

const checkName = function (name: string) {
  if (name.trim().length === 0) {
    msg.name = "First name is empty!";
    return false;
  }
  msg.name = "";
  return true;
};

const checkSurname = (surname: string) => {
  if (surname.trim().length === 0) {
    msg.surname = "Second name is empty!";
    return false;
  }
  msg.surname = "";
  return true;
};

function checkGender(gender: string) {
  if (gender.trim().length === 0) {
    msg.gender = "Gender is empty!";
    return false;
  }
  msg.gender = "";
  return true;
}

watch(
  () => person.name,
  (name) => {
    checkName(name);
  }
);

watch(
  () => person.surname,
  (surname) => {
    checkSurname(surname);
  }
);

watch(
  () => person.gender,
  (gender) => {
    checkGender(gender);
  }
);
const clearForm = function () {
  person.name = "";
  person.surname = "";
  person.gender = "";
  nextTick(() => {
    msg.name = "";
    msg.surname = "";
    msg.gender = "";
  });
};

function doSubmit() {
  if (
    checkName(person.name) &&
    checkSurname(person.surname) &&
    checkGender(person.gender)
  ) {
    // add
    if (person.id < 0) {
      const p = new Person(person.name, person.surname, person.gender);
      personList.value.push(p);
    } else {
      // edit
      const index = personList.value.findIndex((item) => item.id === person.id);
      personList.value[index].name = person.name;
      personList.value[index].surname = person.surname;
      personList.value[index].gender = person.gender;
    }
    clearForm();
    showForm.value = false;
  }
}

const doEdit = function (p: Person) {
  person.name = p.name;
  person.surname = p.surname;
  person.gender = p.gender;
  person.id = p.id;
  showForm.value = true;
};

const doDelete = function (p: Person) {
  const index = personList.value.findIndex((item) => item.id === person.id);
  personList.value.splice(index, 1);
};
</script>

<template>
  <div class="table-title">
    <h2>Person</h2>
  </div>
  <div v-if="showForm" class="form">
    <form>
      <label for="name">First Name</label>
      <input type="text" id="name" v-model="person.name" autocomplete="off" />
      <span class="error">{{ msg.name }}</span>

      <label for="surname">Second Name</label>
      <input type="text" id="surname" v-model="person.surname" />
      <span class="error">{{ msg.surname }}</span>

      <label for="gender">Gender</label>
      <select id="gender" v-model="person.gender">
        <option selected hidden>Please select one</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <span class="error">{{ msg.gender }}</span>

      <input type="submit" value="Submit" @click.prevent="doSubmit()" />
    </form>
  </div>

  <div v-if="!showForm">
    <div style="text-align: right; padding-bottom: 10px">
      <button class="button-33" @click="showForm = !showForm">Add</button>
    </div>
  </div>

  <div>
    <table class="table-fill">
      <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Gender</th>
        <th style="width: 210px">Operation</th>
      </thead>
      <tbody class="table-hover">
        <tr v-for="(item, index) in personList" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.surname }}</td>
          <td>{{ item.gender }}</td>
          <td>
            <button class="button-34" @click="doEdit(item)">Edit</button>
            <button
              class="button-35"
              style="margin-left: 1em"
              @click="doDelete(item)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.error {
  color: red;
  font-size: smaller;
  display: block;
}

div.table-title {
  display: block;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  text-align: left;
}

.table-title h2 {
  color: #161616b9;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(172, 88, 20, 0.1);
  text-transform: uppercase;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 300px;
  margin: auto;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  background: #1b1e24;
  border-bottom: 2px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 15px;
  font-weight: 100;
  padding: 11px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom-: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #4e5066;
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: #4e5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* CSS Button */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-34 {
  background-color: #fffab6;
  border-radius: 100px;
  box-shadow: rgba(133, 182, 41, 0.2) 0 -25px 18px -14px inset,
    rgba(129, 187, 35, 0.15) 0 1px 2px, rgba(129, 187, 35, 0.15) 0 2px 4px,
    rgba(129, 187, 35, 0.15) 0 4px 8px, rgba(129, 187, 35, 0.15) 0 8px 16px,
    rgba(129, 187, 35, 0.15) 0 16px 32px;
  color: rgb(113, 121, 1);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-34:hover {
  box-shadow: rgba(137, 187, 44, 0.35) 0 -25px 18px -14px inset,
    rgba(137, 187, 44, 0.35) 0 1px 2px, rgba(137, 187, 44, 0.35) 0 2px 4px,
    rgba(137, 187, 44, 0.35) 0 4px 8px, rgba(137, 187, 44, 0.35) 0 8px 16px,
    rgba(137, 187, 44, 0.35) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-35 {
  background-color: #ffb9b6;
  border-radius: 100px;
  box-shadow: rgba(182, 57, 41, 0.2) 0 -25px 18px -14px inset,
    rgba(182, 57, 41, 0.2) 0 1px 2px, rgba(182, 57, 41, 0.2) 0 2px 4px,
    rgba(182, 57, 41, 0.2) 0 4px 8px, rgba(182, 57, 41, 0.2) 0 8px 16px,
    rgba(182, 57, 41, 0.2) 0 16px 32px;
  color: rgb(121, 15, 1);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: rgba(187, 77, 44, 0.35) 0 -25px 18px -14px inset,
    rgba(187, 77, 44, 0.35) 0 1px 2px, rgba(187, 77, 44, 0.35) 0 2px 4px,
    rgba(187, 77, 44, 0.35) 0 4px 8px, rgba(187, 77, 44, 0.35) 0 8px 16px,
    rgba(187, 77, 44, 0.35) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
</style>
